.HC6 {
  display: flex;
  flex-direction: row;
  margin: 7% 3%;
  padding: 3% 3%;
  background-color: #ffffff;
  border-radius: 11px 11px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.HC6 a{
  text-decoration: none;
  color: #000;
}

.HC6logo {
  width: 3rem;
  height: auto;
}

.fampay--arrow {
  width: 1rem;
  height: auto;
  cursor: pointer;
}
